<%
  
const format = (content, json) => {
  const contentStringified = `<pre><code>${JSON.stringify(content, null, 2)}</code></pre>`;
  return json ? contentStringified : content;
}

%>

  <%- include('../partials/head'); %>

  <%- include('../partials/nav'); %>
  
  <main class="container form-signin">
    <header>
      <i class="fa-solid fa-circle-info icon-large icon-colour mb-3"></i>
      <h1 class="h3 mb-3 fw-normal"><%= title %></h1>
    </header>

    <p><%- format(content, json) %></p>
   
  </main>
    
  <%- include('../partials/footer'); %>