<%
  
const formatList = (content, json) => {
  let str = `<ul class="d-flex flex-column">`;
  Object.entries(content).forEach(([key, value]) => {
    str += `<li class="text-start"><strong>${key}</strong>: ${value}</li>`;
  });
  str += '</ul>';
  return json ? str : content;
}

%>

  <%- include('../partials/head'); %>

  <%- include('../partials/nav'); %>
  
  <main class="container form-signin">
    <header>
      <i class="fa-solid fa-circle-info icon-large icon-colour mb-3"></i>
      <h1 class="h3 mb-3 fw-normal"><%= title %></h1>
    </header>

    <p><%- formatList(content, json) %></p>
   
  </main>
    
  <%- include('../partials/footer'); %>