  <%- include('../partials/head'); %>

  <%- include('../partials/nav'); %>
  
    <main class="container form-signin">
      <header>
        <i class="fa-solid fa-address-card icon-large icon-colour mb-3"></i>
        <h1 class="h3 mb-3 fw-normal"><%= title %></h1>
      </header>
      <section class="posts-container">
        <% 
          if (posts.length > 0) {
            posts.map(post => {
            const { title, description, createdAt, _id } = post;
            const deleteLink = `/delete-post/${_id}`;
          %>
          <div class="card single-post text-start mb-2">
            <div class="card-body">
              <h5 class="card-title"><%= title %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Created: <%= moment(createdAt).format('Do MMMM, YYYY, h:mm:ss a'); %></h6>
              <p class="card-text">Description: <%= description %></p>
              <i class="fa-solid fa-trash-can text-muted"></i> <a href="<%= deleteLink %>">Delete this post</a>
            </div>
          </div>
          <% 
            });
          } else {
          %>
            <p>No posts to display</p>
        <% 
          }
        %>
     </section>
          
    </main>
          
  <%- include('../partials/footer'); %>